<div class="widget-wrap">
  <h3 class="widget-title"><%= __('weibo') %><%- page.current_url %></h3>
  <div class="widget" style="padding: 0px">
    <iframe width="100%" height="450" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=450&fansRow=0&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=1&uid=3904642734&verifier=8e24d951&colors=d6f3f7,ffffff,909090,258fb8,ecfbfd&dpc=1"></iframe>
  </div>
</div>